services:
  app:
    container_name: look-alike-app
    build:
      context: .
      target: dev
    env_file:
      - .env
    volumes:
      - .:/app
      - ./node_modules:/app/node_modules
    working_dir: /app
    restart: unless-stopped
    ports:
      - 5173:5173
